# Virtual Environment
venv/

# Environment Variables
.env
# Python Cache
__pycache__/
*.pyc

# Chroma Database
database/chroma_db/

# Logs
logs/

# Output Files
outputs/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db